@charset "UTF-8";
/*by. threeBLAB*/
html {
  font-size: 20px;
  /*BREAK*/ }
@media screen and (max-width: 1680px) {
  html {
    font-size: 19px; } }
@media screen and (max-width: 1480px) {
  html {
    font-size: 18px; } }
@media screen and (max-width: 1280px) {
  html {
    font-size: 17px; } }
@media screen and (max-width: 1080px) {
  html {
    font-size: 16px; } }
@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 14px; } }

body {
  font-family: "GmarketSans", "Malgun Gothic", "맑은 고딕", sans-serif;
  font-size: 1rem;
  color: #545454;
  line-height: 1.5;
  letter-spacing: -0.03rem;
  word-break: keep-all;
  /*BREAK*/ }
body.overflow {
  overflow-y: hidden; }
body *, body ::before, body ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
body legend {
  display: none; }
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin-top: auto;
  margin-bottom: auto; }
body dl, body ul {
  margin: 0;
  padding: 0;
  list-style: none; }
body dt, body dd {
  margin-left: 0;
  font-weight: normal;
  line-height: normal; }
body p {
  margin: 0; }
body label {
  margin-bottom: 0;
  font-weight: inherit; }
body input:focus, body button:focus, body textarea:focus {
  outline: 0; }
body button {
  padding: 0;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle; }
body em, body i {
  font-style: normal; }
body b {
  font-weight: normal; }
body small {
  font-size: inherit; }
body a {
  color: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-decoration-skip: objects; }
body a:visited, body a:hover, body a:active, body a:focus {
  color: inherit;
  text-decoration: none; }
body a:active, body a:hover {
  outline-width: 0; }
body .invisible {
  font-size: 0; }
body .hidden {
  display: none !important; }
body .contents-empty {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: #555; }
body .float:after {
  content: "";
  clear: both;
  display: block; }
body .float .col {
  float: left; }
body .table {
  display: table; }
body .table .col {
  display: table-cell;
  vertical-align: middle; }
body .table-bottom {
  display: table; }
body .table-bottom .col {
  display: table-cell;
  vertical-align: bottom; }
body .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; }
body ::-webkit-input-placeholder {
  /* Chrome */
  color: #aaa;
  letter-spacing: -.04rem; }
body :-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa;
  letter-spacing: -.04rem; }
body ::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa;
  letter-spacing: -.04rem; }
body :-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #aaa;
  letter-spacing: -.04rem; }
body .h_auto{
  min-height:auto; }
@media screen and (max-width: 640px) {
  body {
    letter-spacing: 0; } }

/*
===================
===================
다수의 컨텐츠에 사용 가능한 클래스
===================
===================
*/
.invisible {
  font-size: 0; }

.hidden {
  display: none !important; }

.width {
  margin-right: auto;
  margin-left: auto;
  max-width: 1050px; }

.content-tb-space {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.content-top-space {
  padding-top: 5rem; }

.content-btm-space {
  padding-bottom: 5rem; }

.bothside-space {
  /*BREAK*/ }
@media screen and (max-width: 1080px) {
  .bothside-space {
    padding-right: 30px !important;
    padding-left: 30px !important; } }
@media screen and (max-width: 768px) {
  .bothside-space {
    padding-right: 20px !important;
    padding-left: 20px !important; } }
@media screen and (max-width: 480px) {
  .bothside-space {
    padding-right: 10px !important;
    padding-left: 10px !important; } }

.float:after {
  content: "";
  clear: both;
  display: block; }
.float .col {
  float: left; }

.table {
  display: table; }
.table .col {
  display: table-cell;
  vertical-align: middle; }

.table-bottom {
  display: table; }
.table-bottom .col {
  display: table-cell;
  vertical-align: bottom; }

.flex {
  display: flex; }

.flex-center {
  display: flex;
  justify-content: center; }

.flex-between {
  display: flex;
  justify-content: space-between; }

/*BUTTON*/
.bt {
  text-align: center;
  display: inline-block;
  /*BREAK*/ }
.bt.small {
  width: 85px;
  height: 40px;
  line-height: 40px; }
.bt.mini {
  padding-right: .5rem;
  padding-left: .5rem;
	height: 30px;
  line-height: 30px; }
.bt.white {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc; }
.bt.red, .bt.gray {
  color: #fff;
  border-width: 0; }
.bt.red {
  background-color: #ff513c; }
.bt.gray {
  background-color: #888; }
@media screen and (max-width: 768px) {
  .bt.small {
    padding-right: .75rem;
    padding-left: .75rem;
    width: auto;
    height: 35px;
    min-width: 65px;
    line-height: 35px; } }

/*최상단 배너*/
/*
.top-bnr {
  width: 100%;
  font-size: 0;
  overflow: hidden;}
.top-bnr img {
  position: relative;
  left: 50%;
  display: block;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
@media screen and (max-width: 1200px) {
  .top-bnr img {
    max-width: 150%; } }
*/
.top_banner{background:#553099;position:sticky;top:0;left:0;z-index:100;}
.top_banner .mo{display:none;}
.top_banner .contents_wrap{position:relative;width:1280px;margin:0 auto;}
.top_banner .item{display:block;}
.top_banner .btn_close{position:absolute;right:0;bottom:8px;display:block;width:22px;height:22px;background:url("../img/icon_close_banner.png") 50% 50% / 100% 100% no-repeat;}
@media screen and (max-width:1280px){
.top_banner .contents_wrap{width:100%;}
.top_banner .item img{width:100%;}
.top_banner .btn_close{right:10px;}
}
@media screen and (max-width:768px){
  .top_banner .contents_wrap{padding:0;}
.top_banner .pc{display:none;}
.top_banner .mo{display:block;width:100%;}
.top_banner .btn_close{right:8px;width:14px;height:14px;}

}
/*상단 링크*/
.top-link {
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }
.top-link > div {
  display: flex;
  justify-content: space-between; }
.top-link ul {
  display: flex; }
.top-link li:nth-of-type(1) ~ li {
  margin-left: 1.25rem; }
.top-link li.bigclass{
  margin-left:.05rem !important; }
.top-link .start a {
  border-radius: 5px; }
.top-link .etc, .gnb {
  /*BREAK*/ }
.top-link .etc a, .top-link .etc img, .gnb a, .gnb img {
  display: inline-block;
  vertical-align: middle; }
.top-link .etc a img, .gnb a img {
  margin-left: .25rem; }
.top-link .etc .etc li, .gnb .etc li {
  color: #666; }
.top-link .etc li, .gnb li {
  font-size: .65rem;
  line-height: 32px; }
@media screen and (max-width: 1080px) {
  .top-link .etc li, .gnb li {
    font-size: 12px;
    line-height: 30px; } }

.gnb .start {
  color: #fff; }
.gnb .start a {
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #ff513c; }
.gnb .realtime {
  color: #888; }

/*
===================
===================
HEADER
===================
===================
*/
#header {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /*BREAK*/ }
#header .hdr {
  position: relative;
  z-index: 25;
  height: 80px; }
#header .hdr-wrapper {
  height: 100%; }
@media screen and (max-width: 1080px) {
  #header {
    background-color: #fff; }
  #header .hdr {
    position: relative;
    height: 60px; } }
@media screen and (max-width: 480px) {
  #header .hdr {
    height: 50px; } }

.hdr-logo {
  position: relative;
  z-index: 10;
  width: 140px;
  height: 100%;
  display: table; }
.hdr-logo a {
  width: 100%;
  height: 100%;
  font-size: 0;
  display: table-cell;
  vertical-align: middle;
  background: url(../img/logo.png) no-repeat;
  background-position: 50% 50%;
  background-size: 140px;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden; }
.depth2 .new:after{
  display:inline-block;
  content:"";
  width:66px;
  height:22px;
  background:url("../img/icon_new.png?v2") 0 0 / 100% 100% no-repeat;
  vertical-align:middle;
  margin:-3px 0 0 5px;
}
@media screen and (min-width: 1081px) {
  .hdr-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px; }

  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .navigation.over {
    background-color: #fff; }
  .navigation.over .nav-wrapper::before {
    opacity: 1; }
  .navigation.over .depth2 {
    visibility: visible;
    filter: alpha(opacity=100);
    opacity: 1; }
  .navigation.over .character {
    opacity: 1;
    visibility: visible; }
  .navigation.over .download-btns {
    visibility: visible; }

  .nav-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px;
    height: 80px;
    overflow: hidden; }
  .nav-wrapper:after {
    content: "";
    clear: both;
    display: block; }
  .nav-wrapper::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    opacity: 0; }

  .depth {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    .current-bar {
    	@include pos($abs, $t: $hdr-space, $l: 0);
    	@include same(3px);
    	display: block;
    	@include bgc($scr);
    	border-radius: 30px;
    	@include tra(all, .4s, ease-out);
    	@include opacity(0, 0);
    }
    */ }
  .depth > li:not(.hdr-btn) {
    position: relative;
    padding-right: 1.625rem;
    padding-left: 1.625rem; }
  .depth > li:hover {
    /*
    .current-bar {
    	width: 100%;
    	@include opacity(100, 1);
    }
    */ }
  .depth > li:hover .depth1 {
    color: #e74015; }
  .depth a {
    display: block; }

  .depth1 {
    font-size: .8rem;
    line-height: 80px; }

  .depth2 {
    position: absolute;
    left: 1.625rem;
    padding-top: 1rem;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .depth2 a {
    padding-top: .35rem;
    padding-bottom: .35rem;
    font-size: .7rem;
    line-height: 1;
    white-space: nowrap;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
  .depth2 a:hover {
    color: #e74015; }
  
  .hdr-btn {
    font-size: .8rem;
    display: inline-block;
    vertical-align: middle; }
  .hdr-btn a, .hdr-btn button, .hdr-btn label {
    width: 120px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 5px; }
  .hdr-btn label {
    cursor: pointer; }
  .hdr-btn label:hover {
    color: #fff; }

  .use {
    margin-left: 1.625rem; }
  .use button, .use label {
    color: #fff;
    background-color: #ff513c;
    border-width: 0; }

  .report {
    margin-left: 5px; }
  .report a {
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6; }

  .character {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -410px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out; }

  .download-btns {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    display: flex;
    visibility: hidden;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .download-btns li {
    width: 50%;
    height: 55px;
    color: #fff;
    line-height: 55px; }
  .download-btns li a {
    font-size: .8rem;
    display: block; }
  .download-btns li a::before, .download-btns li a::after {
    content: "";
    position: relative;
    top: 5px;
    width: 19px;
    height: 21px;
    display: inline-block;
    background-position: 0 50%;
    background-size: 19px 21px;
    -moz-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease; }
  .download-btns li a:hover::before, .download-btns li a:hover::after {
    top: 8px; }
  .download-btns .free-down {
    text-align: right;
    background-color: #898989; }
  .download-btns .free-down a::before {
    margin-right: 1.15rem;
    background: url(../img/ic_download.png) no-repeat; }
  .download-btns .guide-down {
    text-align: left;
    background-color: #606060; }
  .download-btns .guide-down a::after {
    margin-left: 1.15rem;
    background: url(../img/ic_download.png) no-repeat; }

  .openbtn, .side-nav {
    display: none; } }
@media screen and (max-width: 1280px) {
  .depth > li padding {
    right: 1.25rem;
    left: 1.25rem; } }
@media screen and (max-width: 1080px) {
  #header {
    margin-bottom: -1px; }

  .hdr-logo {
    margin-right: auto;
    margin-left: auto;
    width: 120px; }
  .hdr-logo a {
    background-size: 120px; }

  .navigation {
    display: none; }

  .top-link {
    display: none; }

  .openbtn, .closebtn {
    height: 60px;
    display: table; }
  .openbtn > div, .closebtn > div {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer; }
  .openbtn i, .closebtn i {
    font-size: 1.5rem; }
  .openbtn span, .closebtn span {
    font-size: 0; }

  .openbtn {
    position: absolute;
    top: 0;
    right: 1.25rem; }
  .openbtn div {
    position: relative;
    top: 0.2rem; }

  .side-nav {
    position: fixed;
    top: 0;
    right: -1px;
    z-index: 30;
    width: 0;
    height: 100%;
    line-height: 1;
    text-align: left;
    overflow-x: hidden;
    background-color: #fff;
    border-left: 1px solid #e6e6e6;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .side-nav .item {
    min-width: 280px; }
  .side-nav .navi {
    border-top: 1px solid #e6e6e6; }
  .side-nav .navi a {
    display: block; }
  .side-nav .gnb, .side-nav .depth1-item, .side-nav .depth2-items a, .side-nav .btns, .side-nav .btn_link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    letter-spacing: -.04rem; }
  .side-nav .btn_link{
    display: block;
    margin-top:5px; }
  .side-nav .btn_link img{
    width:100%; }
  .side-nav .gnb {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-top: 1px solid #e6e6e6; }
  .side-nav .gnb ul{
    display:flex;
    flex-flow: row wrap; }
  .side-nav .gnb li.start {
    border: 1px solid #ff513c; }
  .side-nav .gnb li:not(.start) {
    margin-right: -1px;
    margin-bottom: -1px;
    border: 1px solid #e6e6e6; }
  .side-nav .gnb li:last-child {
    margin-right: 0; }
  .side-nav .gnb li a {
    padding-right: .75rem;
    padding-left: .75rem; }
  .side-nav .depth1-item {
    position: relative;
    height: 45px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 45px;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6; }
  .side-nav .depth1-item:hover {
    color: #eb8300; }
  .side-nav .depth1-item:hover i {
    color: #eb8300; }
  .side-nav .depth1-item i {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    font-size: 12px;
    color: #999;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .side-nav .depth2-items {
    font-size: 0.7rem;
    color: #fff;
    line-height: 28px;
    background-color: #eb8300;
    border-bottom: 1px solid #e6e6e6; }
  .side-nav .depth2-items a {
    padding-top: .5rem;
    padding-bottom: .5rem; }
  .side-nav .depth2-items a:nth-of-type(1) ~ a {
    border-top: 1px solid rgba(255, 255, 255, 0.15); }
  .side-nav .btns {
    margin-top: 1.25rem;
    display: flex; }
  .side-nav .btns a, .side-nav .btns button, .side-nav .btns label {
    padding: .75rem;
    width: 49.5%;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background-color: #4b4746; }
  .side-nav .btns a:hover, .side-nav .btns button:hover, .side-nav .btns label:hover {
    background-color: #eb8300; }
  .side-nav .btns label {
    cursor: pointer; }
  .side-nav .btns label:hover {
    color: #fff; }
  .side-nav .btns .use {
    border-width: 0; }
  .side-nav .btns .report {
    margin-left: 1%; } }
@media screen and (max-width: 768px) {
  .hdr-logo {
    width: 110px; }
  .hdr-logo a {
    background-size: 110px; }

  .openbtn, .closebtn {
    width: 60px;
    height: 60px; }

  .openbtn {
    right: 0;
    color: #fff;
    background-color: #eb8300; }
  .openbtn > div {
    text-align: center; } }
@media screen and (max-width: 480px) {
  .hdr-logo {
    width: 100px; }
  .hdr-logo a {
    background-size: 100px; }

  .openbtn, .closebtn {
    width: 50px;
    height: 50px; } }
/*
===================
===================
FOOTER
===================
===================
*/
#footer {
  padding-bottom: 2.5rem;
  font-size: .65rem;
  background-color: #1c2331;
  /*CUSTOM 드롭다운*/
  /*BREAK*/ }
#footer .tail-link {
  color: #fff;
  line-height: 65px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
#footer .tail-link .wrapper:after {
  content: "";
  clear: both;
  display: block; }
#footer .tail-link .in-link {
  float: left;
  font-weight: 300; }
#footer .tail-link .in-link li {
  display: inline-block;
  vertical-align: middle; }
#footer .tail-link .in-link li::after {
  content: "";
  margin-right: .75rem;
  margin-left: .75rem;
  width: 1px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.4); }
#footer .tail-link .in-link li:nth-last-of-type(1)::after {
  margin-right: 0;
  display: none; }
#footer .tail-link .in-link a {
  display: inline-block; }
#footer .tail-link .in-link a:hover {
  color: #ff513c; }
#footer .tail-link .besides-link {
  float: right;
  display: flex; }
#footer .tail-link .sns-link {
  margin-left: 1.5rem;
  display: flex;
  opacity: .6; }
#footer .tail-link .sns-link li {
  position: relative;
  top: -1px; }
#footer .tail-link .sns-link li:nth-of-type(1) ~ li {
  margin-left: .75rem; }
#footer .tail-link .related-link {
  margin-left: .5rem; }
#footer .select-drdn {
  cursor: pointer; }
#footer .select-drdn .select-drdn-wrapper {
  position: relative; }
#footer .select-drdn span, #footer .select-drdn a {
  padding-right: 2.25rem;
  padding-left: 1rem;
  display: block; }
#footer .select-drdn .select-drdn-current {
  position: relative; }
#footer .select-drdn .select-drdn-current::after {
  content: "\f0de";
  position: absolute;
  top: 52.5%;
  right: 0.75rem;
  z-index: 10;
  font-family: "Font Awesome 5 Free";
  font-size: 13px;
  color: #929292;
  font-weight: 900;
  -moz-transform: translateY(-52.5%);
  -o-transform: translateY(-52.5%);
  -ms-transform: translateY(-52.5%);
  -webkit-transform: translateY(-52.5%);
  transform: translateY(-52.5%); }
#footer .select-drdn .select-drdn-current span {
  line-height: 65px; }
#footer .select-drdn .select-drdn-items {
  position: absolute;
  bottom: 65px;
  left: 0;
  z-index: 30;
  width: 100%;
  display: none;
  background-color: #1c2331; }
#footer .select-drdn .select-drdn-items li:nth-of-type(1) {
  padding-top: .25rem; }
#footer .select-drdn .select-drdn-items li:nth-last-of-type(1) {
  padding-top: .1rem; }
#footer .select-drdn .select-drdn-items li:hover {
  background-color: black; }
#footer .select-drdn .select-drdn-items a {
  line-height: 40px; }
#footer .tail-info {
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  line-height: 1.65;
  letter-spacing: -0.01rem;
  display: flex;
  justify-content: space-between; }
#footer .tail-info address span {
  margin-right: .5rem;
  display: inline-block; }
#footer .tail-info .copyright {
  margin-top: .75rem;
  font-family: "Noto Sans KR", "AppleGothic", sans-serif;
  font-size: 11px;
  letter-spacing: .02rem; }
#footer .tail-info .ctf-mark {
  margin-left: 2.5rem; }
@media screen and (max-width: 1080px) {
  #footer {
    padding-bottom: 100px; } }
@media screen and (max-width: 800px) {
  #footer .tail-link {
    line-height: normal;
    border-bottom-width: 0; }
  #footer .tail-link .in-link {
    padding-top: .5rem;
    padding-bottom: .5rem;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  #footer .tail-link .in-link a {
    line-height: 30px; }
  #footer .tail-link .besides-link {
    float: none;
    line-height: 45px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  #footer .tail-link .sns-link {
    margin-left: 0; }
  #footer .select-drdn .select-drdn-current span {
    line-height: 45px; }
  #footer .select-drdn .select-drdn-items {
    bottom: 45px; } }
@media screen and (max-width: 640px) {
  #footer .tail-info {
    display: block; }
  #footer .tail-info .ctf-mark {
    margin-top: 1.5rem;
    margin-left: 0; } }
@media screen and (max-width: 480px) {
  #footer {
    padding-bottom: 80px; } }

/*퀵메뉴*/
.quick {
  position: fixed;
  top: 52%;
  right: 8.5rem;
  z-index: 20;
  padding: 1rem .75rem;
  width: 100px;
  color: #fff;
  text-align: center;
  background-color: #ff513c;
  border-radius: 50px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /*BREAK*/ }
.quick li {
  width: 100%;
  height: 80px;
  display: table; }
.quick li:nth-of-type(1) ~ li {
  border-top: 1px solid #cf3903; }
.quick a {
  padding-top: .7rem;
  padding-bottom: .7rem;
  height: 100%;
  letter-spacing: -0.04rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle; }
.quick i, .quick span {
  display: block; }
.quick i {
  margin-bottom: .4rem;
  font-size: 0; }
.quick span {
  font-size: 14px;
  line-height: 1.15; }
.quick span > span{
  font-size:11px; }
@media screen and (max-width: 1600px) {
  .quick {
    right: 20px; } }
@media screen and (max-width: 1280px) {
  .quick {
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 95px; }
  .quick a {
    padding-top: .5rem;
    padding-bottom: .5rem; }
  .quick label {
    padding-top: .5rem;
    padding-bottom: .5rem; }
  .quick img {
    max-width: 40px; } 
  .quick span {
    font-size: 12px; } }
@media screen and (max-width: 1080px) {
  .quick {
    top: auto;
    right: auto;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    border-radius: 0;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  .quick ul {
    display: flex;
    justify-content: center; }
  .quick li {
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: auto;
    height: auto; }
  .quick li:hover {
    background-color: #ff432d; }
  .quick li:nth-of-type(1) ~ li {
    border-top-width: 0; }
  .quick li.teacher{
    display: none; }
  .quick a {
    padding: 0 1.25rem; }
  .quick label {
    padding: 0 1.25rem; }
  .quick span {
    font-size: 13px; } }
@media screen and (max-width: 640px) {
  .quick {
    padding-right: 0;
    padding-left: 0; }
  .quick li {
    width: 20%; }
  .quick a {
    padding-right: .5rem;
    padding-left: .5rem; } 
  .quick a {
    padding-right: .5rem;
    padding-left: .5rem; } }
@media screen and (max-width: 480px) {
  .quick a {
    padding-right: .25rem;
    padding-left: .25rem; }
  .quick label {
    padding-right: .25rem;
    padding-left: .25rem; }
  .quick span {
    font-size: 12px; } }
@media screen and (max-width: 400px) {
  .quick span {
    font-size: 10px; } 
  .quick span > span{
    font-size: 10px; } }

/*
===================
===================
TO THE TOP BUTTON
===================
===================
*/
.tothe-top {
  position: fixed;
  right: 45px;
  bottom: 50px;
  z-index: 50;
  width: 50px;
  height: 50px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 50px;
  letter-spacing: 0.04rem;
  text-align: center;
  display: none;
  background-color: #4b4746;
  border-radius: 50px;
  /*BREAK*/ }
.tothe-top.none{
  display:none!important; }
.tothe-top:visited, .tothe-top:hover, .tothe-top:active, .tothe-top:focus {
  color: rgba(255, 255, 255, 0.75); }
@media screen and (max-width: 1080px) {
  .tothe-top {
    right: 25px;
    bottom: 80px;
    width: 40px;
    height: 40px;
    font-size: 10px;
    line-height: 40px; } }
@media screen and (max-width: 640px) {
  .tothe-top {
    right: 15px; } }

/*
===================
===================
bootstrap MODAL
===================
===================
*/
.modal.common.fade:not(.modal-top):not(.modal-bottom) .modal-dialog {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); }

.withdrawAccountm, .withdrawComplete, .pwModify, .phoneModify, .adrModify, .cardodify, .agree-modal {
  /*BREAK*/ }
.withdrawAccount .modal-backdrop.in, .withdrawComplete .modal-backdrop.in, .pwModify .modal-backdrop.in, .phoneModify .modal-backdrop.in, .adrModify .modal-backdrop.in, .cardodify .modal-backdrop.in, .agree-modal .modal-backdrop.in {
  opacity: .65; }
.withdrawAccount .modal-content, .withdrawComplete .modal-content, .pwModify .modal-content, .phoneModify .modal-content, .adrModify .modal-content, .cardodify .modal-content, .agree-modal .modal-content {
  border-width: 0;
  border-radius: 0; }
.withdrawAccount .close, .withdrawComplete .close, .pwModify .close, .phoneModify .close, .adrModify .close, .cardodify .close, .agree-modal .close {
  opacity: 1; }
.withdrawAccount .modal-header, .withdrawComplete .modal-header, .pwModify .modal-header, .phoneModify .modal-header, .adrModify .modal-header, .cardodify .modal-header, .agree-modal .modal-header {
  padding-right: 1rem;
  padding-left: 1rem;
  color: #fff;
  background-color: #1c2331; }
.withdrawAccount .modal-header .close,.withdrawComplete .modal-header .close, .pwModify .modal-header .close, .phoneModify .modal-header .close, .adrModify .modal-header .close, .cardodify .modal-header .close, .agree-modal .modal-header .close {
  margin-top: -1px; }
.withdrawAccount .modal-title, .withdrawComplete .modal-title, .pwModify .modal-title, .phoneModify .modal-title, .adrModify .modal-title, .cardodify .modal-title, .agree-modal .modal-title {
  font-size: .7rem; }
.withdrawAccount .modal-footer, .withdrawComplete .modal-footer, .pwModify .modal-footer, .phoneModify .modal-footer, .adrModify .modal-footer, .cardodify .modal-footer, .agree-modal .modal-footer {
  padding-top: .6rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  text-align: center;
  border-top-width: 0; }
.withdrawAccount .modal-footer .bt, .withdrawComplete .modal-footer .bt, .pwModify .modal-footer .bt, .phoneModify .modal-footer .bt, .adrModify .modal-footer .bt, .cardodify .modal-footer .bt, .agree-modal .modal-footer .bt {
  font-size: .7rem; }
@media screen and (max-width: 480px) {
.withdrawAccount .modal-footer .bt, .withdrawComplete .modal-footer .bt, .pwModify .modal-footer .bt, .phoneModify .modal-footer .bt, .adrModify .modal-footer .bt, .cardodify .modal-footer .bt, .agree-modal .modal-footer .bt {
    font-size: 12px; } }

/*이용권 등록 모달
.regApass {
	.modal-dialog {
		@include center(300px);
	}

	.modal-content {
		@include box-sdw;
	}

	.modal-title {
		font-size: .7rem;
	}

	.modal-body {
		padding:{
			top: 1rem;
			right: 1rem;
			bottom: 0;
			left: 1rem;
		};

		input {
			@include wh(100%, 40px);
			@include font(.7rem, #808080);
			@include inline-ctrl(40px, 0, center);
			@include bdr(1px, #ccc);
			border-radius: 3px;
		}
	}

	.modal-footer {
		.bt {
			width: 100%;
		}
	}

	@include minw(1081px) {
		.modal-dialog {
			@include pos($abs, $t: 130px, $l: 50%);
			margin:{
				top: 0;
				left: 335px;
			};
			@include translate(0, 0 $imp);
		}

		.modal-content {
			margin:{
				top: 0;
			};
			@include translate(-50%, 0 $imp);
		}
	}//1080

	@include maxw(1080px) {
		.modal-dialog {
			margin:{
				top: 150px;
			};
		}
	}//1080
}//regApass
*/
.regApass {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  /*BREAK*/ }
.regApass .md-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.68); }
.regApass .md-head, .regApass .md-body, .regApass .md-tail {
  padding-right: 1rem;
  padding-left: 1rem; }
.regApass .md-head {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 0.7rem;
  color: #fff;
  background-color: #1c2331; }
.regApass .md-body {
  padding-top: 1rem; }
.regApass .md-body input {
  width: 100%;
  height: 40px;
  font-size: 0.7rem;
  color: #808080;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px; }
.regApass .md-tail {
  padding-top: .6rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  text-align: center;
  border-top-width: 0; }
.regApass .md-tail .bt {
  width: 100%;
  font-size: .7rem; }
@media screen and (max-width: 480px) {
  .regApass .md-tail .bt {
    font-size: 12px; } }

.md-state {
  display: none; }
.md-state:checked + .regApass {
  opacity: 1;
  visibility: visible; }
.md-wrapper {
  position: absolute;
  top: 50%;
  left:50%;
  width: 300px;
  overflow: auto;
  background-color: #fff;
  -moz-transition: top 0.25s ease;
  -o-transition: top 0.25s ease;
  -webkit-transition: top 0.25s ease;
  transition: top 0.25s ease;
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*BREAK*/ }
@media screen and (min-width: 1081px) {
  .md-wrapper {
    height: 185px; } }
@media screen and (max-width: 1080px) {
  .md-wrapper {
    margin: auto;
    height: 165px; } }
@media screen and (max-width: 480px) {
  .md-wrapper {
    width: 250px; } }

.md-close {
  position: absolute;
  top: 0.35rem;
  right: 1rem;
  cursor: pointer; }
