@charset "UTF-8";
/*by. threeBLAB*/
.content-blink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  font-size: 0.7rem;
  color: #666;
  text-align: center;
  /*BREAK*/ }
@media screen and (max-width: 768px) {
  .content-blink {
    font-size: 12px; } }

/*list normal1 common*/
[class*=list-norm1] ul {
  display: flex;
  justify-content: center;
  align-items: center; }
[class*=list-norm1] .col:not(.ttl) {
  text-align: center; }
[class*=list-norm1] .list-head {
  padding-top: .75rem;
  padding-bottom: .75rem; }
[class*=list-norm1] .list-head > div {
  text-transform: uppercase; }
[class*=list-norm1] .list-head .ttl {
  text-align: center; }
[class*=list-norm1] .list-body .colgroup {
  display: block; }
[class*=list-norm1] .list-body .colgroup:nth-of-type(1) ~ .colgroup {
  border-top: 1px solid #e6e6e6; }
[class*=list-norm1] .list-body .numb, [class*=list-norm1] .list-body .date {
  font-size: 12px; }
[class*=list-norm1] .cate {
  margin-right: .5rem;
  padding: .25rem .5rem;
  font-size: 0.9rem;
  color: #fff;
  display: inline-block;
  background-color: #e74015; }
[class*=list-norm1] .lock, [class*=list-norm1] .file {
  position: relative;
  top: -1px;
  margin-left: .25rem;
  font-family: xeicon !important;
  font-size: 13px;
  display: inline-block; }
[class*=list-norm1] .lock::after {
  content: "\e964"; }
[class*=list-norm1] .file::before {
  content: "\eaa0"; }

.list-norm1-c4 {
  /*BREAK*/ }
.list-norm1-c4 .list-head {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-height: 65px;
  border-bottom: 1px solid #e3e3e3; }
.list-norm1-c4 .list-head .col:not(.views) {
  border-right: 1px solid #e6e6e6; }
.list-norm1-c4 .list-head span {
  font-size: 0.8rem;
  color: #333; }
.list-norm1-c4 .list-body {
  border-bottom: 1px solid #e3e3e3; }
.list-norm1-c4 .list-body .colgroup:hover {
  background-color: #f3f3f3; }
.list-norm1-c4 .list-body .col {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.7rem;
  color: #666; }
.list-norm1-c4 .list-body .col:not(.views) {
  padding-right: .75rem;
  padding-left: .75rem; }
.list-norm1-c4 .list-body .col:not(.ttl) {
  letter-spacing: 0; }
.list-norm1-c4 .list-body .ttl {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }
.list-norm1-c4 .list-body .views {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  text-align: right; }
.list-norm1-c4 .col-1 {
  width: 15%; }
.list-norm1-c4 .col-2 {
  width: 60%; }
.list-norm1-c4 .col-3 {
  width: 15%; }
.list-norm1-c4 .col-4 {
  width: 10%; }
.list-norm1-c4 .chk-notice .numb span {
  width: 55px;
  height: 30px;
  color: #fff;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  background-color: #ff513c;
  border-radius: 3px; }
@media screen and (max-width: 1180px) {
  .list-norm1-c4 .col-1 {
    width: 15%; }
  .list-norm1-c4 .col-2 {
    width: 55%; } }
@media screen and (max-width: 768px) {
  .list-norm1-c4 .list-head .date {
    border-right-width: 0 !important; }
  .list-norm1-c4 .list-body .col {
    font-size: 12px; }
  .list-norm1-c4 .col-1 {
    width: 20%; }
  .list-norm1-c4 .col-2 {
    width: 60%; }
  .list-norm1-c4 .col-3 {
    width: 20%; }
  .list-norm1-c4 .col-4 {
    display: none; } }
@media screen and (max-width: 480px) {
  .list-norm1-c4 .list-head .ttl {
    border-right-width: 0 !important; }
  .list-norm1-c4 .col-1 {
    width: 25%; }
  .list-norm1-c4 .col-2 {
    width: 75%; }
  .list-norm1-c4 .col-3 {
    display: none; }
  .list-norm1-c4 .chk-notice .numb span {
    width: 40px; } }

.list-norm1-c4v2 {
  /*BREAK*/ }
.list-norm1-c4v2 .list-head {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-height: 65px;
  border-bottom: 1px solid #e3e3e3; }
.list-norm1-c4v2 .list-head .col:not(.state) {
  border-right: 1px solid #e6e6e6; }
.list-norm1-c4v2 .list-head span {
  font-size: 0.8rem;
  color: #333; }
.list-norm1-c4v2 .list-body {
  border-bottom: 1px solid #e3e3e3; }
.list-norm1-c4v2 .list-body .colgroup:hover {
  background-color: #f3f3f3; }
.list-norm1-c4v2 .list-body .col {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.7rem;
  color: #666; }
.list-norm1-c4v2 .list-body .col:not(.ttl) {
  letter-spacing: 0; }
.list-norm1-c4v2 .list-body .ttl {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }
.list-norm1-c4v2 .col {
  padding-right: 1.25rem;
  padding-left: 1.25rem; }
.list-norm1-c4v2 .col-1 {
  width: 10%; }
.list-norm1-c4v2 .col-2 {
  width: 65%; }
.list-norm1-c4v2 .col-3 {
  width: 13%; }
.list-norm1-c4v2 .col-4 {
  width: 12%; }
.list-norm1-c4v2 [class*="reply-"] {
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 3px; }
.list-norm1-c4v2 .reply-hold {
  background-color: #fff;
  border: 1px solid #eee; }
.list-norm1-c4v2 .reply-complete {
  color: #fff;
  background-color: #ff513c; }
@media screen and (max-width: 1180px) {
  .list-norm1-c4v2 .col-1 {
    width: 15%; }
  .list-norm1-c4v2 .col-2 {
    width: 55%; } }
@media screen and (max-width: 768px) {
  .list-norm1-c4v2 .list-body .col {
    font-size: 12px; }
  .list-norm1-c4v2 .col {
    padding-right: .5rem;
    padding-left: .5rem; }
  .list-norm1-c4v2 .col-1 {
    display: none; }
  .list-norm1-c4v2 .col-2 {
    width: 60%; }
  .list-norm1-c4v2 .col-3 {
    width: 20%; }
  .list-norm1-c4v2 .col-4 {
    width: 20%; } }
@media screen and (max-width: 480px) {
  .list-norm1-c4v2 .col-2 {
    width: 70%; }
  .list-norm1-c4v2 .col-3 {
    display: none; }
  .list-norm1-c4v2 .col-4 {
    width: 30%; }
  .list-norm1-c4v2 [class*="reply-"] {
    width: 60px; } }

.list-norm1-c8 {
  /*BREAK*/ }
.list-norm1-c8 .list-head {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-height: 65px;
  border-bottom: 1px solid #e3e3e3; }
.list-norm1-c8 .list-head .col {
  padding-right: .75rem;
  padding-left: .75rem; }
.list-norm1-c8 .list-head .col:not(.cancel) {
  border-right: 1px solid #e6e6e6; }
.list-norm1-c8 .list-head span {
  font-size: 0.8rem;
  color: #333; }
.list-norm1-c8 .list-body {
  border-bottom: 1px solid #e3e3e3; }
.list-norm1-c8 .list-body .colgroup:hover {
  background-color: #f3f3f3; }
.list-norm1-c8 .list-body .col {
  padding: .75rem;
  font-size: 0.7rem;
  color: #666; }
.list-norm1-c8 .list-body .price {
  text-align: right; }
.list-norm1-c8 .col-1 {
  width: 14%; }
.list-norm1-c8 .col-2 {
  width: 28%; }
.list-norm1-c8 .col-3 {
  width: 10%; }
.list-norm1-c8 .col-4 {
  width: 8%; }
.list-norm1-c8 .col-5 {
  width: 8%; }
.list-norm1-c8 .col-6 {
  width: 11%; }
.list-norm1-c8 .col-7 {
  width: 11%; }
.list-norm1-c8 .col-8 {
  width: 10%; }
.list-norm1-c8 [class*="cancel-"] {
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 3px; }
.list-norm1-c8 .cancel-hold {
  background-color: #fff;
  border: 1px solid #eee; }
.list-norm1-c8 .cancel-complete {
  color: #fff;
  background-color: #ff513c; }
@media screen and (max-width: 1180px) {
  .list-norm1-c8 .list-head .col {
    padding-right: .5rem;
    padding-left: .5rem; }
  .list-norm1-c8 .list-body .col {
    padding: .5rem; }
  .list-norm1-c8 [class*="cancel-"] {
    width: 60px; } }
@media screen and (max-width: 768px) {
  .list-norm1-c8 ul {
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    flex-flow: row wrap;
    justify-content: flex-start; }
  .list-norm1-c8 .list-head {
    display: none; }
  .list-norm1-c8 .list-body .colgroup {
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
    border-radius: 5px; }
  .list-norm1-c8 .list-body .colgroup:nth-of-type(1) ~ .colgroup {
    margin-top: 1.5rem; }
  .list-norm1-c8 .list-body .col:not(.ttl) {
    font-size: 12px;
    text-align: left; }
  .list-norm1-c8 .list-body .ttl {
    font-size: 14px; }
  .list-norm1-c8 .col:not(.ttl) {
    white-space: nowrap; }
  .list-norm1-c8 .col:not(.ttl)::before {
    content: attr(data-title) " :";
    margin-right: .75rem;
    font-size: 11px;
    display: inline-block;
    vertical-align: middle; }
  .list-norm1-c8 .numb, .list-norm1-c8 .ttl {
    width: 100%; }
  .list-norm1-c8 .price, .list-norm1-c8 .method, .list-norm1-c8 .state, .list-norm1-c8 .date1, .list-norm1-c8 .date2, .list-norm1-c8 .cancel {
    margin-right: -1px;
    margin-bottom: -1px;
    width: 33.333333%;
    background-color: #fff;
    border: 1px solid #e6e6e6; }
  .list-norm1-c8 .numb {
    border-bottom: 1px solid #e6e6e6; }
  .list-norm1-c8 [class*="cancel-"] {
    width: auto;
    height: auto;
    line-height: inherit;
    text-align: left;
    background: none; }
  .list-norm1-c8 .cancel-hold {
    border-width: 0; }
  .list-norm1-c8 .cancel-complete {
    color: #ff513c;
    background: none; } }
@media screen and (max-width: 560px) {
  .list-norm1-c8 .price, .list-norm1-c8 .method, .list-norm1-c8 .state, .list-norm1-c8 .date1, .list-norm1-c8 .date2, .list-norm1-c8 .cancel {
    width: 50%; } }
@media screen and (max-width: 480px) {
  .list-norm1-c8 ul {
    padding-right: .5rem;
    padding-left: .5rem; }
  .list-norm1-c8 .col:not(.ttl)::before {
    margin-right: .5rem; } }

/*list bottom items*/
.list-btm-items {
  margin-top: .75rem;
  text-align: right;
  /*BREAK*/ }
.list-btm-items a, .list-btm-items button {
  padding-right: .5rem;
  padding-left: .5rem;
  height: 40px;
  font-size: .7rem;
  line-height: 40px;
  text-align: center;
  display: inline-block; }
.list-btm-items .write {
  width: 105px;
  color: #fff;
  background-color: #ff513c;
  border-radius: 5px; }
@media screen and (max-width: 768px) {
  .list-btm-items a, .list-btm-items button {
    height: 35px;
    font-size: 12px;
    line-height: 35px; }
  .list-btm-items .write {
    width: 80px; } }

/*===============
VIEW PAGE
===============*/
.view-contents {
  /*BREAK*/ }
.view-contents header {
  padding: 1rem 1.25rem;
  word-break: keep-all;
  background-color: #f3f3f3; }
.view-contents header .ttl {
  font-size: 0.8rem;
  color: #333; }
.view-contents header .header-contents {
  margin-top: .5rem;
  font-size: 0.7rem;
  color: #666; }
.view-contents header .header-contents:after {
  content: "";
  clear: both;
  display: block; }
.view-contents header .header-contents li {
  width: 50%; }
.view-contents header .file {
  padding-left: 70px;
  float: left; }
.view-contents header .file:after {
  content: "";
  clear: both;
  display: block; }
.view-contents header .file::before {
  content: "첨부파일 : ";
  margin-left: -70px;
  width: 60px;
  float: left; }
.view-contents header .file a {
  display: inline-block; }
.view-contents header .file a:nth-of-type(1) ~ a {
  margin-top: .25rem; }
.view-contents header .file a i {
  margin-right: .25rem; }
.view-contents header .info {
  float: right;
  letter-spacing: 0;
  text-align: right; }
.view-contents header .info .views {
  margin-left: 1.5rem; }
.view-contents .content {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  font-size: .7rem;
  line-height: 1.8;
  border-bottom: 1px solid #e3e3e3; }
.view-contents .content img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 100%; }
.view-contents .vod {
  margin-bottom: 2.5rem; }
.view-contents .vod video, .view-contents .vod iframe {
  width: 100%;
  height: 30vw; }
.view-contents .btn {
  margin-top: 1.25rem;
  text-align: right;
  display: flex;
  justify-content: flex-end; }
.view-contents .btn label {
  margin-right: -1px;
  width: 90px;
  height: 45px;
  font-size: .75rem;
  line-height: 43px;
  text-align: center;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #cdcdcd; }
.view-contents .btn label:hover {
  background-color: #e8e8e8; }
.view-contents .btn input {
  -webkit-appearance: none;
  display: none; }
.view-contents .btn input + span {
  letter-spacing: -.08rem; }
.view-contents .btn input + span::before {
  position: relative;
  top: 1px;
  margin-right: .25rem;
  font-size: 0.85rem;
  font-weight: 300; }
.view-contents .btn input:checked + span::before {
  color: #e74015;
  display: inline-block; }
@media screen and (max-width: 1680px) {
  .view-contents .vod video, .view-contents .vod iframe {
    height: 35vw; } }
@media screen and (max-width: 1480px) {
  .view-contents .vod video, .view-contents .vod iframe {
    height: 40vw; } }
@media screen and (max-width: 1180px) {
  .view-contents .vod video, .view-contents .vod iframe {
    height: 50vw; } }
@media screen and (max-width: 768px) {
  .view-contents header .ttl {
    font-size: 14px; }
  .view-contents header .header-contents {
    margin-top: .75rem;
    font-size: 12px; }
  .view-contents .content {
    font-size: 13px; } }
@media screen and (max-width: 640px) {
  .view-contents header .header-contents li {
    width: 100%; }
  .view-contents header .file, .view-contents header .info {
    float: none; }
  .view-contents header .info {
    margin-top: .5rem;
    text-align: left; } }

/*view bottom items*/
.view-btm-items {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  /*BREAK*/ }
.view-btm-items a {
  display: inline-block;
  vertical-align: top; }
.view-btm-items .other-posts {
  padding-top: .75rem;
  width: 50%;
  font-size: 0; }
.view-btm-items .other-posts + .btns {
  width: 50%; }
.view-btm-items .other-posts .prev, .view-btm-items .other-posts .next {
  margin-right: .75rem;
  margin-left: .75rem; }
.view-btm-items .other-posts .prev > a, .view-btm-items .other-posts .next > a {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .06rem;
  display: inline-block;
  vertical-align: middle;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.view-btm-items .other-posts .prev > a::before, .view-btm-items .other-posts .prev > a::after, .view-btm-items .other-posts .next > a::before, .view-btm-items .other-posts .next > a::after {
  position: relative;
  top: -1px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  vertical-align: middle; }
.view-btm-items .other-posts .prev {
  display: inline-block;
  vertical-align: middle; }
.view-btm-items .other-posts .prev a::before {
  content: "\f30a";
  margin-right: .25rem; }
.view-btm-items .other-posts .prev a:hover {
  -moz-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px); }
.view-btm-items .other-posts .next {
  display: inline-block;
  vertical-align: middle; }
.view-btm-items .other-posts .next a::after {
  content: "\f30b";
  margin-left: .25rem; }
.view-btm-items .other-posts .next a:hover {
  -moz-transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -webkit-transform: translateX(10px);
  transform: translateX(10px); }
.view-btm-items .btns {
  width: 100%;
  text-align: right; }
.view-btm-items .btns a, .view-btm-items .btns button, .view-btm-items .btns input {
  margin-left: -1px;
  padding-right: .5rem;
  padding-left: .5rem;
  min-width: 70px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.06rem;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #d9d9d9; }
.view-btm-items .btns .gotolist {
  min-width: 85px;
  color: #fff;
  background-color: #888;
  border-radius: 5px; }
@media screen and (max-width: 960px) {
  .view-btm-items .other-posts {
    padding-top: .75rem; }
  .view-btm-items .other-posts .prev {
    margin-right: .5rem; } }
@media screen and (max-width: 640px) {
  .view-btm-items {
    display: block; }
  .view-btm-items .item {
    width: 100%;
    text-align: center; }
  .view-btm-items .btns {
    margin-top: 1.25rem; }
  .view-btm-items .btns a, .view-btm-items .btns button, .view-btm-items .btns input {
    height: 35px;
    font-size: 12px;
    line-height: 35px; } }
@media screen and (max-width: 360px) {
  .view-btm-items .other-posts {
    padding-top: .5rem; }
  .view-btm-items .other-posts .prev, .view-btm-items .other-posts .next {
    margin-right: .15rem;
    margin-left: .15rem; }
  .view-btm-items .other-posts .prev > a, .view-btm-items .other-posts .next > a {
    font-size: 0; }
  .view-btm-items .other-posts .prev > a::before, .view-btm-items .other-posts .prev > a::after, .view-btm-items .other-posts .next > a::before, .view-btm-items .other-posts .next > a::after {
    font-size: 1.05rem; } }
