@font-face {
	font-family: 'GmarketSans';
	src: url('GmarketSansLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSans';
	src: url('GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSans';
	src: url('GmarketSansBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('NotoSansKR-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('NotoSansKR-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('jalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
